.deal {
    padding: 36px 0 40px;
    @media (min-width: 1600px) {
        &_sticky {
            padding: 0;
            position: fixed;
            top: -30px;
            right: calc(50% - 590px);
            transform: translateX(50%);
            background-color: #18151a;
            z-index: 111;
            display: none;
        }
    }
    .container {
        @media (min-width: 640px) {
            width: 360px;
            margin: 0 auto;
        }
        @media (min-width: 1600px) {
            width: 360px;
            padding: 37px 22px;
            margin: 0;
        }
    }
    &__title {
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 18px;
    }
    &__img {
        margin-bottom: 27px;
        img {
            width: 100%;
            height: 100%;
        }
        @media (min-width: 640px) {
            height: 200px;
            overflow: hidden;
            img {
                width: 100%;
                object-fit: cover;
                object-position: 50% 100%;
            }
        }
    }
    &__subtitle {
        font-size: 1.7rem;
        font-weight: 700;
        margin-bottom: 16px;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__stars {
        img {
            display: inline-block;
            &:not(:last-child){
                margin-right: 2px;
            }
        }
    }
    &__price {
        display: flex;
        align-items: center;
        span {
            color: $colorSecondary;
            text-decoration: line-through;
            font-size: 1.4rem;
            font-weight: 400;
            margin-right: 14px;
        }
        font-size: 2rem;
        font-weight: 900;
        color:#ff6c84;
    }
    &__line {
        width: 100%;
        margin: 25px 0;
        height: 1px;
        background-color: rgba(255, 255, 255, .1);
    }
    &__text {
        color: $colorSecondary;
        font-size: 1.4rem;
        line-height: 2rem;
        font-weight: 300;
        margin-bottom: 19px;
    }
    &__timer {
        padding: 20px 0;
        display: flex;
        margin-bottom: 19px;
        background: $darkBg;
    }
    &__item {
        flex-basis: 100%;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 900;
        text-transform: uppercase;
        &:not(:last-child) {
            border-right: 1px solid rgba(255, 255, 255, .1);
        }
        span {
            color: $colorOrange;
            font-size: 2.4rem;
            display: block;
        }
    }
}