.features {
    padding: 25px 0 53px;
    background: $darkBg;
    &__title {
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: 35px;
        @media (min-width: 769px) {
            font-size: 3rem;
        }
        @media (min-width: 1600px) {
            font-size: 3.2rem;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        @media (min-width: 1025px) {
            flex-direction: row;
        }
        @media (min-width: 1600px) {
            width: 1140px;
        }
    }
    &__list {
        margin-bottom: 35px;
    }
    &__item {
        position: relative;
        color: $colorSecondary;
        padding-left: 20px;
        line-height: 2.5rem;
        &:not(:last-child){
            margin-bottom: 15px;
        }
        &::before {
            content: '';
            position: absolute;
            top: 10px;
            left: 0;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: $colorSecondary;
        }
    }
    &__img {
        margin-bottom: 35px;
        img {
            width: 100%;
            height: 100%;
        }
        @media (min-width: 640px) {
            height: 200px;
            overflow: hidden;
            img {
                width: 100%;
                object-fit: cover;
                object-position: 50% 10%;
            }
        }
        @media (min-width: 1025px) {
            margin-left: 25px;
            width: 100%;
            min-height: 340px;
            img {
                width: 100%;
                height: 100%;
                object-position: 100% 60%;
            }
        }
        @media (min-width: 1600px) {
            min-width: 493px;
        }
    }
    &__descr {
        color: $colorSecondary;
        line-height: 2.5rem;
        @media (min-width: 1600px) {
            width: 1140px;
        }
    }
}