.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color:rgba(0,0,0, .56);
    z-index: 200;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 38px 30px 38px;
    width: 280px;
    background: url(./../img/desk/bgs/reviewsbg.png) center center / cover no-repeat;
    z-index: 210;
    @media (min-width: 769px) {
        width: 450px;
        padding: 38px 30px 60px;
    }
    &__close {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 4rem;
        font-weight: 300;
        line-height: 21px;
        color: #fff;
        cursor: pointer;
    }
    &__title {
        font-size: 2.2rem;
        font-weight: 700;
        text-align: center;
        @media (min-width: 769px) {
            text-align: left;
        }
    }
    &__form {
        margin-top: 36px;
        display: flex;
        flex-direction: column;
        width: 100%;
        input {
            background: rgba(0, 0, 0, 0.7);
            margin-bottom: 15px;
            padding: 20px 20px;
            border: none;
            font-weight: 300;
            color: #fff;
            &::placeholder {
                color: #fff;
            }
        }
    }
    &__btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        button {
            width: 100%;
        }
        @media (min-width: 769px) {
            flex-direction: row;
            margin-top: 20px;
            column-gap: 40px;
            button {
                width: auto;
            }
        }
    }
    &__links {
        display: flex;
        align-items: center;
        column-gap: 10px;
        @media (min-width: 769px) {
            flex-direction: column;
            row-gap: 10px;
            align-items: flex-start;
        }
    }
    &__acc {
        font-weight: 300;
    }
    &__log {
        text-decoration: underline;
    }
}
#sign, #reg {
    display: none;
}