section.features#news 
    .container
        .features__content
            .features__wrapper
                .features__title.alr._anim-items._anim-off 
                    | Game Features
                ul.features__list 
                    li.features__item.alr._anim-items._anim-off 
                        | Faro also created an artificial intelligence named GAIA, that could shut down  
                    li.features__item.alr._anim-items._anim-off 
                        | Make the Earth livable for humans again 
                    li.features__item.alr._anim-items._anim-off 
                        | System designed to teach humans to not repeat the mistakes of the last generation, was sabotaged by Faro and led to the rise of Aloy’s tribal society. He seems hungry for knowledge about the evil system’s “masters” and seems ready to stop
                    li.features__item.alr._anim-items._anim-off 
                        | Faro also created an artificial intelligence named GAIA, that could shut down Make the Earth livable for humans again.
                    li.features__item.alr._anim-items._anim-off 
                        | System designed to teach humans to not repeat the mistakes of the last generation, was sabotaged by Faro and led to the rise of Aloy’s tribal society. He seems hungry for 
            .features__img.arl._anim-items._anim-off 
                picture
                source(media="(min-width: 640px)", srcset="./img/desk/ratchet.png")
                img(src="./img/mob/ratchet.png", alt="ratchet") 
        .features__descr.arl._anim-items._anim-off 
            | Gamers play as Aloy, a member of one of many warring tribes that stumbles upon the origins of the mechanical beasts the rule the world. They were created by a company named Faro Automated Solutions, nearly 1,000 ago as 
    