section.footer#contacts
    .container
        .footer__wrapper
            .footer__menu.aud._anim-items._anim-off  
                .footer__title 
                    | menu 
                .footer__links
                    a(href="#").footer__link
                        | Delivery
                    a(href="#").footer__link
                        | Legal Notice
                    a(href="#").footer__link
                        | Terms and conditions of use
                    a(href="#").footer__link
                        | About us
                    a(href="#").footer__link
                        | Secure payment
            .footer__item.aud._anim-items._anim-off  
                input(type="checkbox" name="useful")#useful.footer__input
                label(for="useful").footer__accardeon 
                    | useful links
                .footer__descr 
                    a(href="#").footer__link
                        | Hot Trending 
                    a(href="#").footer__link
                        | Our Store 
                    a(href="#").footer__link
                        | New Arrival 
                    a(href="#").footer__link
                        | Best Seller
                    a(href="#").footer__link
                        | Order Tracking 
                    a(href="#").footer__link
                        | Warranty and Services 
            .footer__item.aud._anim-items._anim-off  
                input(type="checkbox" name="cont")#cont.footer__input
                label(for="cont").footer__accardeon 
                    |  Contact INFO & PAYMENT
                .footer__descr 
                    a(href="https://goo.gl/maps/jJ2xwV5ExTkgxGLo7" target="_blank").footer__link.footer__link_geo
                        span Game Store 
                        | 507-Union Trade ipsum Doler Centre UK
                    a(href="tel:387897897897").footer__link.footer__link_tel
                        | +38 789-789-7897
                    a(href="mailto:sales@yourcompany.com").footer__link.footer__link_mail
                        | sales@yourcompany.com
            .footer__newsletter.aud._anim-items._anim-off
                .footer__subtitle 
                    | Our Newsletter
                .footer__text 
                    | But now the title has been confirmed as an early release to show off the technical 
                form.footer__form
                    input(type="text" placeholder="Your email...").footer__field
                    button.btn.btn__footer subscribe
                .footer__inner 
                    .footer__soc 
                        a(href="#").footer__icon
                            <i class="fab fa-facebook-f"></i>
                        a(href="#").footer__icon
                            <i class="fab fa-twitter"></i> 
                        a(href="#").footer__icon
                            <i class="fab fa-linkedin-in"></i>
                    .footer__copyright 
                        | Copyright © 2021 . All Rights Reserved
