section.header
    .container
        .header__inner
            a(href="#home").header__logo
               img(src="./img/desk/logomain.png", alt="logomain") 
            a(href="#").header__burger
                img(src="./img/mob/icons/burgericon.png", alt="burgericon").header__cubes
            .header__btns
                .header__search 
                    <i class="fas fa-search"></i>
                    input(type="text" placeholder="Search game...")
                a(href="#").btn.btn__register#register
                    | register 
                a(href="#").btn.btn__login#login
                    | login 
        ul.header__menu
            li.header__item
                a(href="#home").header__link
                    | Home
            li.header__item
                a(href="#about").header__link
                    | About
            li.header__item
                a(href="#games").header__link
                    | Games
            li.header__item
                a(href="#news").header__link
                    | News
            li.header__item
                a(href="#contacts").header__link
                    | Contacts
            li.header__item
                a(href="#terms").header__link
                    | Terms and conditions of use 
            li.header__item
                a(href="#secure").header__link
                    | Secure payment  