section.reviews#terms    
    .reviews__slider 
        .reviews__slide
            .container 
                .reviews__photo
                    picture
                        source(media="(min-width: 769px)", srcset="./img/desk/face.png")
                        img(src="./img/mob/face.png", alt="face")
                .reviews__name 
                    | VALERIE RISH
                .reviews__descr 
                    | The final scene of Horizon Zero Dawn reveals HADES has not been completely defeated. A dark entity — thought to be HADES — shoots out of a pile of rubble and is captured by Sylens, a secondary character thought to be Aloy’s ally.
                .reviews__descr 
                    |  He seems hungry for knowledge about the evil system’s “masters” and seems ready to stop at nothing to acquire it. He could be the main villain of Horizon Forbidden West or the catalyst for its events at the very least.
        .reviews__slide
            .container
                .reviews__photo
                    picture
                        source(media="(min-width: 769px)", srcset="./img/desk/face.png")
                        img(src="./img/mob/face.png", alt="face")
                .reviews__name 
                    | VALERIE RISH2
                .reviews__descr 
                    | The final scene of Horizon Zero Dawn reveals HADES has not been completely defeated. A dark entity — thought to be HADES — shoots out of a pile of rubble and is captured by Sylens, a secondary character thought to be Aloy’s ally.
                .reviews__descr 
                    |  He seems hungry for knowledge about the evil system’s “masters” and seems ready to stop at nothing to acquire it. He could be the main villain of Horizon Forbidden West or the catalyst for its events at the very least.
        .reviews__slide
            .container
                .reviews__photo
                    picture
                        source(media="(min-width: 769px)", srcset="./img/desk/face.png")
                        img(src="./img/mob/face.png", alt="face")
                .reviews__name 
                    | VALERIE RISH3
                .reviews__descr 
                    | The final scene of Horizon Zero Dawn reveals HADES has not been completely defeated. A dark entity — thought to be HADES — shoots out of a pile of rubble and is captured by Sylens, a secondary character thought to be Aloy’s ally.
                .reviews__descr 
                    | He seems hungry for knowledge about the evil system’s “masters” and seems ready to stop at nothing to acquire it. He could be the main villain of Horizon Forbidden West or the catalyst for its events at the very least.