section.topgames#games
    .container 
        .topgames__title.alr._anim-items._anim-off  
            | top games
        .topgames__tabs 
            .topgames__tab.topgames__tab_active
                | All
            .topgames__tab
                | Adventure
            .topgames__tab
                | Racing & Flying
        .topgames__content
            .topgames__slider
                .topgames__slide
                    .topgames__bg
                        picture
                            source(media="(min-width: 769px)", srcset="./img/desk/bgs/gamessliderHorizon.png")
                            img(src="./img/mob/bgs/gamessliderHorizon.png", alt="gamessliderHorizon")
                        .topgames__btns
                            a(href="#").btn.btn__read 
                                | Read More
                            a(href="#").btn.btn__buy 
                                | Buy Now
                    .topgames__wrapper
                        .topgames__name 
                            | 1 Horizon Forbidden West
                        .topgames__inner
                            .topgames__stars
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starempty.png", alt="starempty")
                            .topgames__price 
                                span $282.02
                                | $140.95
                        .topgames__line 
                        .topgames__text 
                            | Horizon Forbidden West is an upcoming action role-playing game developed by Guerrilla Games and published by Sony Interactive Entertainment....
                .topgames__slide
                    .topgames__bg
                        picture
                            source(media="(min-width: 769px)", srcset="./img/desk/bgs/ratchetslide.png")
                            img(src="./img/mob/bgs/gamessliderHorizon.png", alt="ratchetslide")
                        .topgames__btns
                            a(href="#").btn.btn__read 
                                | Read More
                            a(href="#").btn.btn__buy 
                                | Buy Now
                    .topgames__wrapper 
                        .topgames__name 
                            | Ratchet & Clank: Rift Apart
                        .topgames__inner
                            .topgames__stars
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starempty.png", alt="starempty")
                            .topgames__price 
                                span $62.02
                                | $40.95
                        .topgames__line 
                        .topgames__text 
                            |  For norland produce age wishing. To figure on it spring season up. Her provision acuteness had excellent two why intention.
                .topgames__slide
                    .topgames__bg
                        picture
                            source(media="(min-width: 769px)", srcset="./img/desk/bgs/sackboy.png")
                            img(src="./img/mob/bgs/gamessliderHorizon.png", alt="sackboy")
                        .topgames__btns
                            a(href="#").btn.btn__read 
                                | Read More
                            a(href="#").btn.btn__buy 
                                | Buy Now
                    .topgames__wrapper 
                        .topgames__name 
                            | Sackboy: A Big Adventure
                        .topgames__inner
                            .topgames__stars
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starempty.png", alt="starempty")
                            .topgames__price 
                                | $85.95
                        .topgames__line 
                        .topgames__text 
                            | For norland produce age wishing. To figure on it spring season up.
                .topgames__slide
                    .topgames__bg
                        picture
                            source(media="(min-width: 769px)", srcset="./img/desk/bgs/crash.png") 
                            img(src="./img/mob/bgs/gamessliderHorizon.png", alt="crash")
                        .topgames__btns
                            a(href="#").btn.btn__read 
                                | Read More
                            a(href="#").btn.btn__buy 
                                | Buy Now
                    .topgames__wrapper 
                        .topgames__name 
                            | Crash Bandicoot 4 - It's About Time
                        .topgames__inner
                            .topgames__stars
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starempty.png", alt="starempty")
                            .topgames__price 
                                | $240.95
                        .topgames__line 
                        .topgames__text 
                            | For norland produce age wishing. To figure on it spring season up. Her provision acuteness had excellent two why intention.
                .topgames__slide
                    .topgames__bg 
                        picture
                            source(media="(min-width: 769px)", srcset="./img/desk/bgs/gamessliderHorizon.png")
                            img(src="./img/mob/bgs/gamessliderHorizon.png", alt="gamessliderHorizon")
                        .topgames__btns
                            a(href="#").btn.btn__read 
                                | Read More
                            a(href="#").btn.btn__buy 
                                | Buy Now
                    .topgames__wrapper 
                        .topgames__name 
                            | 5 Horizon Forbidden West
                        .topgames__inner
                            .topgames__stars
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starempty.png", alt="starempty")
                            .topgames__price 
                                span $282.02
                                | $140.95
                        .topgames__line 
                        .topgames__text 
                            | Horizon Forbidden West is an upcoming action role-playing game developed by Guerrilla Games and published by Sony Interactive Entertainment....
                .topgames__slide
                    .topgames__bg 
                        picture
                            source(media="(min-width: 769px)", srcset="./img/desk/bgs/gamessliderHorizon.png")
                            img(src="./img/mob/bgs/gamessliderHorizon.png", alt="gamessliderHorizon")
                        .topgames__btns
                            a(href="#").btn.btn__read 
                                | Read More
                            a(href="#").btn.btn__buy 
                                | Buy Now
                    .topgames__wrapper 
                        .topgames__name 
                            | 6 Horizon Forbidden West
                        .topgames__inner
                            .topgames__stars
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starempty.png", alt="starempty")
                            .topgames__price 
                                span $282.02
                                | $140.95
                        .topgames__line 
                        .topgames__text 
                            | Horizon Forbidden West is an upcoming action role-playing game developed by Guerrilla Games and published by Sony Interactive Entertainment....
                .topgames__slide
                    .topgames__bg 
                        picture
                            source(media="(min-width: 769px)", srcset="./img/desk/bgs/gamessliderHorizon.png")
                            img(src="./img/mob/bgs/gamessliderHorizon.png", alt="gamessliderHorizon")
                        .topgames__btns
                            a(href="#").btn.btn__read 
                                | Read More
                            a(href="#").btn.btn__buy 
                                | Buy Now
                    .topgames__wrapper 
                        .topgames__name 
                            | 7 Horizon Forbidden West
                        .topgames__inner
                            .topgames__stars
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starempty.png", alt="starempty")
                            .topgames__price 
                                span $282.02
                                | $140.95
                        .topgames__line 
                        .topgames__text 
                            | Horizon Forbidden West is an upcoming action role-playing game developed by Guerrilla Games and published by Sony Interactive Entertainment....
        .topgames__content
            .topgames__slider
                .topgames__slide
                    .topgames__bg
                        picture
                            source(media="(min-width: 769px)", srcset="./img/desk/bgs/gamessliderHorizon.png")
                            img(src="./img/mob/bgs/gamessliderHorizon.png", alt="gamessliderHorizon")
                        .topgames__btns
                            a(href="#").btn.btn__read 
                                | Read More
                            a(href="#").btn.btn__buy 
                                | Buy Now
                    .topgames__wrapper 
                        .topgames__name 
                            | 1 Horizon Forbidden West
                        .topgames__inner
                            .topgames__stars
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starempty.png", alt="starempty")
                            .topgames__price 
                                span $282.02
                                | $140.95
                        .topgames__line 
                        .topgames__text 
                            | Horizon Forbidden West is an upcoming action role-playing game developed by Guerrilla Games and published by Sony Interactive Entertainment....Horizon Forbidden West is an upcoming action role-playing game developed by Guerrilla Games and published by Sony Interactive Entertainment....
                .topgames__slide
                    .topgames__bg
                        picture
                            source(media="(min-width: 769px)", srcset="./img/desk/bgs/ratchetslide.png")
                            img(src="./img/mob/bgs/gamessliderHorizon.png", alt="ratchetslide")
                        .topgames__btns
                            a(href="#").btn.btn__read 
                                | Read More
                            a(href="#").btn.btn__buy 
                                | Buy Now
                    .topgames__wrapper 
                        .topgames__name 
                            | Ratchet & Clank: Rift Apart
                        .topgames__inner
                            .topgames__stars
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starempty.png", alt="starempty")
                            .topgames__price 
                                span $62.02
                                | $40.95
                        .topgames__line 
                        .topgames__text 
                            |  For norland produce age wishing. To figure on it spring season up. Her provision acuteness had excellent two why intention.
                .topgames__slide
                    .topgames__bg 
                        img(src="./img/mob/bgs/gamessliderHorizon.png", alt="gamessliderHorizon")
                    .topgames__wrapper 
                        .topgames__name 
                            | 3 Horizon Forbidden West
                        .topgames__inner
                            .topgames__stars
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starempty.png", alt="starempty")
                            .topgames__price 
                                span $282.02
                                | $140.95
                        .topgames__line 
                        .topgames__text 
                            | Horizon Forbidden West is an upcoming action role-playing game developed by Guerrilla Games and published by Sony Interactive Entertainment....
                .topgames__slide
                    .topgames__bg 
                        img(src="./img/mob/bgs/gamessliderHorizon.png", alt="gamessliderHorizon")
                    .topgames__wrapper 
                        .topgames__name 
                            | 4 Horizon Forbidden West
                        .topgames__inner
                            .topgames__stars
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starempty.png", alt="starempty")
                            .topgames__price 
                                span $282.02
                                | $140.95
                        .topgames__line 
                        .topgames__text 
                            | Horizon Forbidden West is an upcoming action role-playing game developed by Guerrilla Games and published by Sony Interactive Entertainment....
        .topgames__content
            .topgames__slider
                .topgames__slide
                    .topgames__bg
                        picture
                            source(media="(min-width: 769px)", srcset="./img/desk/bgs/sackboy.png")
                            img(src="./img/mob/bgs/gamessliderHorizon.png", alt="sackboy")
                        .topgames__btns
                            a(href="#").btn.btn__read 
                                | Read More
                            a(href="#").btn.btn__buy 
                                | Buy Now
                    .topgames__wrapper 
                        .topgames__name 
                            | Sackboy: A Big Adventure
                        .topgames__inner
                            .topgames__stars
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starempty.png", alt="starempty")
                            .topgames__price 
                                | $85.95
                        .topgames__line 
                        .topgames__text 
                            | For norland produce age wishing. To figure on it spring season up.
                .topgames__slide
                    .topgames__bg
                        picture
                            source(media="(min-width: 769px)", srcset="./img/desk/bgs/sackboy.png")
                            img(src="./img/mob/bgs/gamessliderHorizon.png", alt="sackboy")
                        .topgames__btns
                            a(href="#").btn.btn__read 
                                | Read More
                            a(href="#").btn.btn__buy 
                                | Buy Now
                    .topgames__wrapper 
                        .topgames__name 
                            | Sackboy: A Big Adventure
                        .topgames__inner
                            .topgames__stars
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starempty.png", alt="starempty")
                            .topgames__price 
                                | $85.95
                        .topgames__line 
                        .topgames__text 
                            | For norland produce age wishing. To figure on it spring season up.
                .topgames__slide
                    .topgames__bg
                        picture
                            source(media="(min-width: 769px)", srcset="./img/desk/bgs/sackboy.png")
                            img(src="./img/mob/bgs/gamessliderHorizon.png", alt="sackboy")
                        .topgames__btns
                            a(href="#").btn.btn__read 
                                | Read More
                            a(href="#").btn.btn__buy 
                                | Buy Now
                    .topgames__wrapper 
                        .topgames__name 
                            | Sackboy: A Big Adventure
                        .topgames__inner
                            .topgames__stars
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starempty.png", alt="starempty")
                            .topgames__price 
                                | $85.95
                        .topgames__line 
                        .topgames__text 
                            | For norland produce age wishing. To figure on it spring season up.
                .topgames__slide
                    .topgames__bg
                        picture
                            source(media="(min-width: 769px)", srcset="./img/desk/bgs/sackboy.png")
                            img(src="./img/mob/bgs/gamessliderHorizon.png", alt="sackboy")
                        .topgames__btns
                            a(href="#").btn.btn__read 
                                | Read More
                            a(href="#").btn.btn__buy 
                                | Buy Now
                    .topgames__wrapper 
                        .topgames__name 
                            | Sackboy: A Big Adventure
                        .topgames__inner
                            .topgames__stars
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starempty.png", alt="starempty")
                            .topgames__price 
                                | $85.95
                        .topgames__line 
                        .topgames__text 
                            | For norland produce age wishing. To figure on it spring season up.
                .topgames__slide
                    .topgames__bg
                        picture
                            source(media="(min-width: 769px)", srcset="./img/desk/bgs/sackboy.png")
                            img(src="./img/mob/bgs/gamessliderHorizon.png", alt="sackboy")
                        .topgames__btns
                            a(href="#").btn.btn__read 
                                | Read More
                            a(href="#").btn.btn__buy 
                                | Buy Now
                    .topgames__wrapper 
                        .topgames__name 
                            | Sackboy: A Big Adventure
                        .topgames__inner
                            .topgames__stars
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starfull.png", alt="starfull")
                                img(src="./img/mob/icons/starempty.png", alt="starempty")
                            .topgames__price 
                                | $85.95
                        .topgames__line 
                        .topgames__text 
                            | For norland produce age wishing. To figure on it spring season up.
                