section.advantages#secure
    .container 
        .advantages__wrapper
            .advantages__item 
                .advantages__icon
                    picture
                        source(media="(min-width: 769px)", srcset="./img/desk/icons/delivery.png")
                        img(src="./img/mob/icons/fast-delivery.png", alt="delivery")
                .advantages__text
                    .advantages__title
                        | Free Delivery
                    .advantages__descr
                        | Free Shipping On All Order  lorem ipsum dolor sit amet, consectetuer adipiscing elit
            .advantages__item 
                .advantages__icon
                    picture
                        source(media="(min-width: 769px)", srcset="./img/desk/icons/money.png")
                        img(src="./img/mob/icons/money.png", alt="money")
                .advantages__text
                    .advantages__title
                        | Money Return
                    .advantages__descr
                        | Back Guarantee in 7 days dolor sit amet, consectetuer adipiscing elit
            .advantages__item 
                .advantages__icon
                    picture
                        source(media="(min-width: 769px)", srcset="./img/desk/icons/price.png")
                        img(src="./img/mob/icons/member.png", alt="member")
                .advantages__text
                    .advantages__title
                        | Member Discount
                    .advantages__descr
                        | On every order over $130.00  consectetuer            