section.deal
    .container
        .deal__title 
            | Deal of the day
        .deal__img
            picture
                source(media="(min-width: 640px)", srcset="./img/desk/watchdogs.png")
                img(src="./img/mob/watchdog.png", alt="watchdogs") 
        .deal__subtitle 
            | Watch Dogs: Legion
        .deal__wrapper 
            .deal__stars 
                img(src="./img/mob/icons/starfull.png", alt="starsfull")
                img(src="./img/mob/icons/starfull.png", alt="starsfull")
                img(src="./img/mob/icons/starfull.png", alt="starsfull")
                img(src="./img/mob/icons/starfull.png", alt="starsfull")
                img(src="./img/mob/icons/starempty.png", alt="starempty")
            .deal__price 
                span $100.02
                | $30.95
        .deal__line
        .deal__text 
            | For norland produce age wishing. To figure on it spring season up. Her provision acuteness had excellent two why intention.
        .deal__timer
            .deal__item
                span#days 12
                | days
            .deal__item
                span#hours 20
                | hours
            .deal__item
                span#mins 56
                | mins
            .deal__item
                span#secs 20
                | secs
        a(href="#").btn.btn__deal buy now