section.head#home
    .head__slider 
        .head__slide
            .head__bg
                picture
                    source(media="(min-width: 769px)", srcset="./img/desk/bgs/headbg.png")
                    img(src="./img/mob/bgs/headersliderpic.png", alt="headersliderpic")
            .container
                .head__title 
                    | HORIZON1
                .head__subtitle
                    | Forbidden West
                .head__descr 
                    | Horizon Forbidden West is an upcoming action role-playing game developed by Guerrilla Games and published by Sony Interactive Entertainment. 
                a(href="#").btn.btn__head
                    | play now
        .head__slide
            .head__bg 
                picture
                    source(media="(min-width: 769px)", srcset="./img/desk/bgs/headbg.png")
                    img(src="./img/mob/bgs/headersliderpic.png", alt="headersliderpic")
            .container
                .head__title 
                    | HORIZON2
                .head__subtitle
                    | Forbidden West
                .head__descr 
                    | Horizon Forbidden West is an upcoming action role-playing game developed by Guerrilla Games and published by Sony Interactive Entertainment. 
                a(href="#").btn.btn__head
                    | play now
        .head__slide
            .head__bg 
                picture
                    source(media="(min-width: 769px)", srcset="./img/desk/bgs/headbg.png")
                    img(src="./img/mob/bgs/headersliderpic.png", alt="headersliderpic")
            .container
                .head__title 
                    | HORIZON3
                .head__subtitle
                    | Forbidden West
                .head__descr 
                    | Horizon Forbidden West is an upcoming action role-playing game developed by Guerrilla Games and published by Sony Interactive Entertainment. 
                a(href="#").btn.btn__head
                    | play now