html 
	head 
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Play Landing
		link(rel="stylesheet" href="css/style.min.css")
	body
		.page
			include pug/navbar/navbar
			include pug/banner/banner
		
		//- include pug/footer/footer
		script(src="js/app.min.js") 