doctype html
html 
	head(lang="en")
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Play Landing
		link(rel="stylesheet" href="css/style.min.css")
	body
		.page
			include pug/navbar/navbar
			include pug/banner/banner
			include pug/advantages/advantages
			.container.p-top
				h2.h2.text-center top games
				include pug/games-box/games-box
			.p-top
				include pug/reviews/reviews

			.section-bg.p-t-b 
				.columns.container.container--bg
					main.columns__item
						.text-box
							img(src="@img/text-img-1.jpg", alt="text-img")
							h2.h2 A few words about us
							p One of the Playstation’s biggest game expected to be released on the PlayStation 5 in 2021 is Horizon Forbidden West, a sequel to Guerilla Games' open-world sci-fi game from 2017. Sony Interactive Entertainment has continued to pull back the curtain on the long-awaited sequel where Aloy's adventure continues. This is everything that you'd want to know about the game, including its release window, platforms, and story details.
							p SIE and Guerrilla gave gamers their first in-depth look at the upcoming open-world title during a PS5 reveal event on June 11.
							a.btn.btn--alt(href="/" aria-label="learn more") learn more 
							p Leading up to those colossal announcements, Guerrilla had teased the sequel's existence with a handful of mysterious job openings and even a few accidental social media posts. But now the title has been confirmed as an early release to show off the technical capabilities of the PS5 by continuing Aloy's critically acclaimed storyline.

							h3.h3 What could the Horizon Forbidden West story be about?
							p Gamers play as Aloy, a member of one of many warring tribes that stumbles upon the origins of the mechanical beasts the rule the world. They were created by a company named Faro Automated Solutions, nearly 1,000 ago as “peacemakers,” but need biomass for fuel. Eventually, they consumed so much of the Earth’s biosphere that it eradicated most humans. But there was a Plan B.

							img(src="@img/text-img-2.jpg", alt="text-img").float-right
							h2.h2 Game Features
							ul 
								li Faro also created an artificial intelligence named GAIA, that could shut down 
								li Make the Earth livable for humans again
								li System designed to teach humans to not repeat the mistakes of the last generation, was sabotaged by Faro and led to the rise of Aloy’s tribal society. He seems hungry for knowledge about the evil system’s “masters” and seems ready to stop
								li Faro also created an artificial intelligence named GAIA, that could shut down Make the Earth livable for humans again.
								li System designed to teach humans to not repeat the mistakes of the last generation, was sabotaged by Faro and led to the rise of Aloy’s tribal society. He seems hungry for 
							p.no-p Leading up to those colossal announcements, Guerrilla had teased the sequel's existence with a handful of mysterious job openings and even a few accidental social media posts. But now the title has been confirmed as an early release to show off the technical capabilities of the PS5 by continuing Aloy's critically acclaimed storyline.

					aside.columns__item
						.columns__sticky
							include pug/deal/deal
			include pug/footer/footer
		script(src="js/app.min.js") 