@import 'fonts';
@import 'vars';
@import '../../node_modules/modern-normalize/modern-normalize';
@import '../../node_modules/slick-carousel/slick/slick';

html {
	@include adaptive-value($font-size, $font-size-desk, fz);
	line-height: 1.5em;
}

body {
	margin: 0;
	font-family: $font-primary;
	color: $main-color;
	background-color: $bg-color;
}

.page {
	display: flex;
	flex-direction: column;
}

.container {
	width: 100%;
	max-width: $container-width;
	padding: 0 $container-padding;
	margin: 0 auto;
}

.rating {
	display: flex;

	&__star {
		width: 18px;
		height: 18px;

		&:not(:last-child) {
			margin-right: 5px;
		}

		background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23px' height='20px' viewBox='0 0 512 488.4' fill='#{svg-color($star-color)}' %3E%3Cpath d='M511.3 185.5c-1.8-5.4-6.5-9.4-12.1-10.2l-158.7-23.1-71-143.8C266.9 3.2 261.7 0 256 0s-10.9 3.2-13.5 8.4l-71 143.8-158.7 23.1c-5.6.8-10.3 4.8-12.1 10.2-1.8 5.4-.3 11.4 3.8 15.4l114.8 112-27 158c-1 5.6 1.3 11.3 6 14.7 2.6 1.9 5.7 2.9 8.8 2.9 2.4 0 4.8-.6 7-1.7L256 412l142 74.6c5.1 2.7 11.2 2.2 15.8-1.1s6.9-9 6-14.7l-27.1-158.1 114.9-112c4-3.8 5.4-9.8 3.7-15.2z'/%3E%3C/svg%3E") center / cover no-repeat;

		&--empty {
			background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{svg-color($star-color)}' width='36.09' height='36.09' style='enable-background:new 0 0 36.09 36.09' xml:space='preserve'%3E%3Cpath d='M36.042 13.909a1.006 1.006 0 0 0-.85-.688l-11.549-1.172L18.96 1.43a1 1 0 0 0-1.83.002L12.446 12.05.899 13.221a1.003 1.003 0 0 0-.565 1.743l8.652 7.738-2.453 11.343a1 1 0 0 0 1.481 1.074l10.032-5.84 10.03 5.84a.997.997 0 0 0 1.091-.059 1 1 0 0 0 .391-1.02l-2.453-11.344 8.653-7.737a.992.992 0 0 0 .284-1.05zm-10.706 7.689a1 1 0 0 0-.311.957l2.097 9.695-8.574-4.99a.995.995 0 0 0-1.006 0l-8.576 4.99 2.097-9.695a1 1 0 0 0-.311-.957l-7.396-6.613 9.87-1.002c.358-.035.668-.264.814-.592l4.004-9.077 4.003 9.077c.146.328.456.557.814.592l9.87 1.002-7.395 6.613z'/%3E%3C/svg%3E") center / cover no-repeat;
		}
	}
}

.status {}

.no-scroll {
	overflow: hidden;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: 0.1;
	}

	to {
		opacity: 1;
	}
}


p,
ul,
input,
form,
li {
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
}

button {
	background: none;
	border: none;
	padding: 0;
}

input,
form {
	border: none;
}

.btn {
	display: inline-block;
	text-align: center;

	width: 100%;
	padding: 15px 0px;

	font-size: 16px;
	font-weight: 900;
	color: inherit;
	text-decoration: none;
	text-transform: uppercase;

	background-image: linear-gradient(0deg, rgb(255, 114, 20) 0%, rgb(255, 183, 2) 100%);

	&--alt {
		background-image: linear-gradient(0deg, rgb(130, 93, 230) 0%, rgb(188, 101, 196) 100%);
	}
}

.h2,
.h3 {
	margin: 0 0 20px;
	font-weight: 700;
	text-transform: uppercase;
}

.h2 {
	font-size: 24px;
}

.h3 {
	font-size: 22px;
	line-height: 28px;
}

.text-center {
	text-align: center;
}

.text-box {

	p,
	ul {
		padding-bottom: 20px;
		margin: -3px 0;
		font-size: 16px;
		line-height: 26px;
		color: $sec-color;
	}

	ul {
		li {
			&:not(:last-child) {
				margin-bottom: 5px;
			}
		}
	}

	.btn {
		margin-bottom: 20px;
		max-width: 188px;
	}

	img {
		width: 100%;
		max-width: 640px;
		margin-bottom: 20px;
	}
}

.section-bg {
	background-color: $bg-alt-color;
}

.p-t-b {
	padding: 40px 0;
}

.p-top {
	padding-top: 40px;
}

.no-p {
	padding: 0 !important;
}

.status {
	margin-top: 5px;
	margin-left: 5px;
	font-size: 12px;
}

@include respond-from(sm) {
	.text-box {
		img {
			max-width: 40%;
			margin-right: 20px;
			float: left;
		}

		.float-right {
			margin-right: 0;
			margin-left: 20px !important;
			float: right !important;
		}
	}

	.p-t-b {
		padding: 60px 0;
	}

	.p-top {
		padding-top: 60px;
	}
}

@include respond-from(to-md) {
	aside.columns__item {
		padding-top: 20px;
	}

	.none-to-md {
		display: none !important;
	}
}

@include respond-from(md) {
	.none-md {
		display: none !important;
	}

	.columns {
		display: flex;

		&__item {
			&:first-child {
				flex: 1 0 auto;
				width: calc(100% - 360px);
				padding-right: 15px;
			}
		}

		&__sticky {
			position: sticky;
			top: 20px;
			transition: all .2s;
		}
	}
}

@include respond-from(lg) {
	.p-t-b {
		padding: 90px 0;
	}

	.p-top {
		padding-top: 90px;
	}
}