.advantages {
    padding: 29px 0 21px;
    background-color: #18151a;
    @media (min-width: 1025px) {
        background-color: transparent;
        padding: 0px 0 21px;
    }
    @media (min-width: 1600px) {
        padding: 0px;
     }
    &__wrapper {
        display: flex;
        flex-direction: column;
        @media (min-width: 640px) {
           flex-direction: row;
           align-items: flex-start;
           column-gap: 10px;
        }
        @media (min-width: 1025px) {
           align-items: stretch;
           margin-top: -20px;
        }
        @media (min-width: 1600px) {
           margin-top: -40px;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        &:not(:last-child) {
            margin-bottom: 23px;
            @media (min-width: 640px) {
                margin-bottom: 0;
            }
        }
        &:nth-child(2) {
            img {
                transform: translateX(5px);
                @media (min-width: 640px) {
                    transform: translateX(0);
                }
            }
        }
        @media (min-width: 640px) {
            flex-basis: 100%;
            flex-direction: column;
            text-align: center;
            row-gap: 15px;
        }
        @media (min-width: 1025px) {
            background-color: #18151a;
            padding: 30px 15px;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0%;
                height: 3px;
                background-color: #9c60d7;
                transition: $transMain;
                opacity: 0;
            }
            &:hover {
                &::after {
                    opacity: 1;
                    width: 100%;
                }
            }
        }
        @media (min-width: 1600px) {
            flex-direction: row;
            text-align: left;
            padding: 40px 50px;
        }
    }
    &__icon {
        flex-basis: 20%;
        img {
            height: 44px;
            @media (min-width: 640px) {
                height: 68px;
            }
        }
    }
    &__text {
        flex-basis: 80%;
    }
    &__title {
        font-weight: 700;
        margin-bottom: 8px;
        @media (min-width: 1600px) {
            font-size: 1.8rem;
        }
    }
    &__descr {
        font-size: 1.4rem;
        color: $colorSecondary;
        @media (min-width: 1600px) {
            font-size: 1.6rem;
            line-height: 2.5rem;
        }
    }
}