@import "base/animations";
@import "base/fonts";
@import "base/variables";
@import "libs/normalize";
@import "libs/slick";
html {
    font-size: 10px;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    font-family: 'Lato', 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
    background-color: #252129;
}
@media (min-width: 640px) {

}
@media (min-width: 769px) {

}
@media (min-width: 1025px) {

}
@media (min-width: 1201px) {

}
@media (min-width: 1600px) {

}
.page {
    width: 100%;
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container {
    position: relative;
    padding: 0 15px;
    @media (min-width: 640px) {
        padding: 0 25px;
    }
    @media (min-width: 769px) {
        padding: 0 30px;
    }
    @media (min-width: 1025px) {
        padding: 0 30px;
    }
    @media (min-width: 1201px) {
        padding: 0 30px;
    }
    @media (min-width: 1600px) {
        width: 1590px;
        margin: 0 auto;
    }
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #fff;
    transition: $transMain;
    &:hover {
        color: $colorOrange;
        transition: $transMain;
    }
}
.show {
    display: block;
}
.hide {
    display: none;
}
@import "components/btns";
@import "components/header";
@import "components/head";
@import "components/advantages";
@import "components/topgames";
@import "components/reviews";
@import "components/about";
@import "components/features";
@import "components/deal";
@import "components/footer";
@import "components/modal";


