@import '../../scss/vars';

.reviews {
	&__slider {
		position: relative;

		.slick-slide {
			height: auto !important;
		}

		.slick-dots {
			position: absolute;
			bottom: 30px;
			left: 50%;
			display: flex;
			transform: translateX(-50%);

			button {
				width: 12.5px;
				height: 12.5px;
				margin: 0 3px;
				background-color: $main-color;
				border-radius: 50%;
				opacity: .2;
				cursor: pointer;
			}

			.slick-active {
				button {
					background-color: $hover-color;
					opacity: 1;
				}
			}
		}
	}

	&__slide {
		position: relative;
		padding: 40px 0px 100px;
	}

	&__img {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		overflow: hidden;
		margin-bottom: 20px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__text-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__title {
		margin-bottom: 25px;
		font-size: 18px;
		color: $hover-color;
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: .07em;
	}

	&__descr {
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 26px;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		overflow: hidden;

		&:last-child {
			margin-bottom: 0;
		}
	}

	@include respond-from(xxs) {

		&__text-box {
			margin: 0 auto;
			width: 80%;
		}
	}

	@include respond-from(md) {

		&__slider {
			.slick-dots {
				bottom: 50px;
			}
		}

		&__img {
			width: 120px;
			height: 120px;
		}

		&__slide {
			padding: 80px 0px 150px;
		}
	}
}