@import '../../scss/vars';

@import '../../scss/vars';

.reviews {
	&__slider {
		position: relative;

		.slick-slide {
			height: auto !important;
		}

		.slick-dots {
			position: absolute;
			bottom: 15px;
			left: 50%;
			display: flex;
			transform: translateX(-50%);

			button {
				width: 12.5px;
				height: 12.5px;
				margin: 0 3px;
				background-color: $main-color;
				border-radius: 50%;
				opacity: .2;
			}

			.slick-active {
				button {
					background-color: $hover-color;
					opacity: 1;
				}
			}
		}
	}

	&__slide {
		position: relative;
		padding: 40px 0px 80px;
	}

	&__text-box {
		text-align: center;
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__title {
		margin-bottom: 15px;
		font-size: 36px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: .07em;
	}

	&__subtitle {
		margin-bottom: 15px;
		font-size: 20px;
		text-transform: uppercase;
		letter-spacing: .02em;
	}

	&__descr {
		margin-bottom: 40px;
		font-size: 14px;
		line-height: 22px;
	}

	&__btn-box {
		display: inline-block;
		width: 190px;
	}

	@include respond-from(xxs) {
		&__slider {

			.slick-dots {
				left: 15px;
				transform: translateX(0);
			}
		}

		&__text-box {
			width: 50%;
			text-align: left;
		}
	}

	@include respond-from(md) {
		&__slider {

			.slick-dots {
				bottom: 50px;
			}
		}

		&__slide {
			padding: 80px 0px 150px;
		}

		&__title {
			font-size: 60px;
			margin-bottom: 40px;
		}

		&__subtitle {
			font-size: 35px;
			margin-bottom: 20px;
		}

		&__descr {
			font-size: 18px;
			line-height: 26px;
		}
	}

	@include respond-from(lg) {

		&__title {
			font-size: 90px;
			margin-bottom: 90px;
		}

		&__subtitle {
			font-size: 50px;
			margin-bottom: 40px;
		}
	}

	@include respond-from(full) {

		&__slider {

			.slick-dots {
				left: 50%;
				transform: translateX(-770px);
			}
		}
	}
}