mixin slide(props={})
	.reviews__slide
		.reviews__bg
			picture
				source(media="(min-width: 567px)" srcset="@img/reviews-bg.jpg")
				img(src="@img/reviews-bg-mob.jpg" alt="banner-bg-mob")
		.container
			.reviews__text-box
				.reviews__img
					img(src="@img/reviews-photo.jpg" alt="reviews-photo")
				p.reviews__title VALERIE RISH
				p.reviews__descr The final scene of Horizon Zero Dawn reveals HADES has not been completely defeated. A dark entity — thought to be HADES — shoots out of a pile of rubble and is captured by Sylens, a secondary character thought to be Aloy’s ally.
				p.reviews__descr He seems hungry for knowledge about the evil system’s “masters” and seems ready to stop at nothing to acquire it. He could be the main villain of Horizon Forbidden West or the catalyst for its events at the very least.
			

section.reviews
	.reviews__slider.js-reviews-slider
		+slide
		+slide
		+slide